<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="./bootstrap-5.0.0/css/bootstrap.min.css">
    <link rel="stylesheet" href="./css/index.css">
    <title>Gerencia de Projetos</title>
   
</head>
<body>
    <header >
        <h3>Gerencia de Projetos</h3>
    </header>
    <nav class="navbar navbar-expand-lg navbar-light bg-light">
        <div class="container-fluid">
          <a class="navbar-brand" href="/">Menu</a>
          <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
          </button>
          <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav me-auto mb-2 mb-lg-0">
              <li class="nav-item">
                <a class="nav-link active" aria-current="page" href="/">Projetos</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="/">Clientes</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="/funcionario/list">Funcionario</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="./sobre">Sobre</a>
              </li>
            </ul>
          </div>
        </div>
      </nav>
           <div class="container">
                    </div>
        
    <div class="localizacao"></div>
    <footer>
        <ul>
            <li>Localização :</li>
            <li>SENAI CTAI</li>
            <li>Rodovia, SC-402,3832 - Saco Grande,Florianópolis - SC, 880424-214</li>
            <li>(48) 3148-3832</li>
        </ul>
        <div class="contato">
          <h5>Contatos :</h5>
          <ul>
          
              <li>frederico_r_mottola@estudante.sc.senai.br</li>
              <li>(48) 3123-32</li>
          </ul>
      </div>

    </footer>



    <script src="../js/popper.min.js"></script>
    <script src="../bootstrap-5.0.0/js/bootstrap.min.js"></script>
</body>
</html>