<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="./bootstrap-5.0.0/css/bootstrap.min.css">
    <link rel="stylesheet" href="./css/index.css">
    <title>Gerencia de Projetos</title>
   
</head>
<body>
    <header >
        <h3>Gerencia de Projetos</h3>
    </header>
    <nav class="navbar navbar-expand-lg navbar-light bg-light">
        <div class="container-fluid">   
          <a class="navbar-brand" href="/">Menu</a>
          <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
          </button>
          <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav me-auto mb-2 mb-lg-0">
              <li class="nav-item">
                <a class="nav-link " aria-current="page" href="/">Projetos</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="/">Clientes</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="/">Funcionario</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="/sobre">Sobre</a>
              </li>
            </ul>
          </div>
        </div>
      </nav>

      <div class="conteiner">
          <div class="row">
              <div class="col">
                <div class="card" style="width: 18rem;">
                    <img src="./img/eu.webp" class="card-img-top" alt="...">
                    <div class="card-body">
                      <h5 class="card-title">SkateLife</h5>
                      <p class="card-text">Skatista Iniciante.</p>
                      <p class="card-text">Com sonho de viver do skate, nas ruas da Europa e Eua manobrando e desenvolvendo</p>
                    </div>
                  </div>
              </div>

              <div class="col">
                <div class="card" style="width: 18rem;">
                    <img src="./img/pixo.jpg" class="card-img-top" alt="...">
                    <div class="card-body">
                      <h5 class="card-title">Arte :</h5>
                      <p class="card-text">Considerada crime no Brasil,
                          </p>
                      <p class="card-text"> a pichação é utilizada como forma de expressão de grupos marginalizados da sociedade, em especial, jovens das favelas.  </p>
                    </div>
                  </div>
              </div>

              <div class="col">
                <div class="card" style="width: 18rem;">
                    <img src="./img/java.png" class="card-img-top" alt="...">
                    <div class="card-body">
                      <h5 class="card-title">Desenvolvedor Jr.</h5>
                      <p class="card-text">Este site foi produzido por um aluno do Sesi Senai .</p>
                      <p class="card-text">Meu nome é Frederico Mottola, tenho 17 anos e sou Dev Jr.</p>
                    </div>
                  </div>
              </div>
              
          </div>
          
      </div>
      




            <div class="container-sobre">
                
                

        </div>

        <div>


       
    <footer>
      <div class="contato">
        <h5>Contatos :</h5>
        <ul>
        
            <li>frederico_r_mottola@estudante.sc.senai.br</li>
            <li>(48) 3123-32</li>
        </ul>
      </div>

      <div class="localizacao">
        <h5>Localização :</h5>
        <ul>
            
            <li>SENAI CTAI</li>
            <li>Rodovia, SC-402,3832 - Saco Grande,Florianópolis - SC, 880424-214</li>
            <li>(48) 3148-3832</li>
        </ul>
      </div>

    </footer>
     
    </footer>



    <script src="../js/popper.min.js"></script>
    <script src="../bootstrap-5.0.0/js/bootstrap.min.js"></script>
</body>
</html>